XmlApplication/app/tiss/schemas/tiss_v3.03.01/tissCancelaGuiaTs.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<definitions xmlns:tns="http://www.ans.gov.br/tiss/ws/tipos/tissCancelaGuiaTs/v30301" xmlns:ans="http://www.ans.gov.br/padroes/tiss/schemas" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="tissCancelaGuiaTs" targetNamespace="http://www.ans.gov.br/tiss/ws/tipos/tissCancelaGuiaTs/v30301">
	<types>
		<schema targetNamespace="http://www.ans.gov.br/tiss/ws/tipos/tissCancelaGuiaTs/v30301" xmlns:tns="http://www.ans.gov.br/tiss/ws/tipos/tissCancelaGuiaTs/v30301" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://www.ans.gov.br/padroes/tiss/schemas" schemaLocation="tissWebServicesV3_03_01.xsd"/>
			<element name="mensagemTISSString" type="xsd:string"/>
		</schema>
	</types>
	<message name="enviarMensagemCancelaGuiaTISS_Request">
		<part name="mensagem" element="tns:mensagemTISSString"/>
	</message>
	<message name="enviarMensagemTISS_Response">
		<part name="resposta" element="ans:mensagemTISS"/>
	</message>
	<message name="tissFault">
		<part name="tissFault" element="ans:tissFaultWS"/>
	</message>
	<portType name="tissCancelaGuiaTs_PortType">
		<operation name="tissCancelaGuiaTs_Operation">
			<input message="tns:enviarMensagemCancelaGuiaTISS_Request"/>
			<output message="tns:enviarMensagemTISS_Response"/>
			<fault name="TissFault" message="tns:tissFault"/>
		</operation>
	</portType>
	<binding name="tissCancelaGuiaTs_Binding" type="tns:tissCancelaGuiaTs_PortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="tissCancelaGuiaTs_Operation">
			<soap:operation/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="TissFault">
				<soap:fault name="TissFault" use="literal"/>
			</fault>
		</operation>
	</binding>
	<service name="tissCancelaGuiaTs">
		<port name="tissCancelaGuiaTs_Port" binding="tns:tissCancelaGuiaTs_Binding">
			<soap:address location="http://localhost/WS/TISS/v3/03/01/tissCancelaGuia.svc"/>
		</port>
	</service>
</definitions>
