XmlApplication/Schemas/TISS_V3.03.01/tissSolicitacaoStatusAutorizacaoTs.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<definitions xmlns:tns="http://www.ans.gov.br/tiss/ws/tipos/tissSolicitacaoStatusAutorizacaoTs/v30301" xmlns:ans="http://www.ans.gov.br/padroes/tiss/schemas" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="tissSolicitacaoStatusAutorizacaoTs" targetNamespace="http://www.ans.gov.br/tiss/ws/tipos/tissSolicitacaoStatusAutorizacaoTs/v30301">
	<types>
		<schema targetNamespace="http://www.ans.gov.br/tiss/ws/tipos/tissSolicitacaoStatusAutorizacaoTs/v30301" xmlns:tns="http://www.ans.gov.br/tiss/ws/tipos/tissSolicitacaoStatusAutorizacaoTs/v30301" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://www.ans.gov.br/padroes/tiss/schemas" schemaLocation="tissWebServicesV3_03_01.xsd"/>
			<import namespace="http://www.ans.gov.br/padroes/tiss/schemas" schemaLocation="tissV3_03_01.xsd"/>
			<element name="mensagemTISSString" type="xsd:string"/>
		</schema>
	</types>
	<message name="enviarMensagemSolicitacaoStatusAutorizacaoTISS_Request">
		<part name="mensagem" element="tns:mensagemTISSString"/>
	</message>
	<message name="enviarMensagemTISS_Response">
		<part name="resposta" element="ans:mensagemTISS"/>
	</message>
	<message name="tissFault">
		<part name="tissFault" element="ans:tissFaultWS"/>
	</message>
	<portType name="tissSolicitacaoStatusAutorizacaoTs_PortType">
		<operation name="tissSolicitacaoStatusAutorizacaoTs_Operation">
			<input message="tns:enviarMensagemSolicitacaoStatusAutorizacaoTISS_Request"/>
			<output message="tns:enviarMensagemTISS_Response"/>
			<fault name="TissFault" message="tns:tissFault"/>
		</operation>
	</portType>
	<binding name="tissSolicitacaoStatusAutorizacaoTs_Binding" type="tns:tissSolicitacaoStatusAutorizacaoTs_PortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="tissSolicitacaoStatusAutorizacaoTs_Operation">
			<soap:operation/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="TissFault">
				<soap:fault name="TissFault" use="literal"/>
			</fault>
		</operation>
	</binding>
	<service name="tissSolicitacaoStatusAutorizacaoTs">
		<port name="tissSolicitacaoStatusAutorizacaoTs_Port" binding="tns:tissSolicitacaoStatusAutorizacaoTs_Binding">
			<soap:address location="http://localhost/WS/TISS/v3/03/01/tissSolicitacaoStatusAutorizacao.svc"/>
		</port>
	</service>
</definitions>
